language: elixir
elixir:
  - 1.3.3
  - 1.3.2
  - 1.3.1
  - 1.3.0
  - 1.2.6
  - 1.2.5
  - 1.2.4
  - 1.2.3
  - 1.2.2
  - 1.2.1
  - 1.2.0
  - 1.1.1
  - 1.1.0
otp_release:
  - 19.1
  - 19.0
  - 18.3
  - 18.2
  - 18.1
  - 18.0
  - 17.5
  - 17.4
sudo: false
